@import 'common.css';
h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  margin-top: 0px;
  font-size: 20px;
}

.images img {
  width: 300px;
  height: 320px;
}

.images {
  display: grid;
  margin: auto;
  width: 900px;
  height: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 10% 40% 10%;
}

.images h2 {
  width: 300px;
  height: 80px;
  font-size: 30px;
}

.images a {
  width: 300px;
  height: 400px;
}

.images a:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  z-index: 2;
}

a div {
  width: 300px;
  height: 320px;
  position: absolute;
  grid-area: 1 / 1 / span 1 / span 1;
}

div.dragon {
  background-image: url('../images/dragon1.png');
  background-position-x: -100px;
}

div.demon {
  background-image: url('../images/Lilith.jpg');
  background-position: center;
}

div.orc {
  background-image: url('../images/Orc.jpg');
  background-position-x: -190px;
}

div.fairy {
  background-image: url('../images/Fairy.jpg');
  background-position-y: -20px;
}

div.faun {
  background-image: url('../images/Faun.jpg');
  background-position-y: -15px;
}

div.unicorn {
  background-image: url('../images/UNI.jpg');
  background-position-x: -150px;
}

@media only screen and (max-width: 1060px) {
  .images {
    width: 80%;
  }
  .images img {
    width: 26.6666%;
  }
  .images h2 {
    width: 100%;
  }
  .images a {
    width: 100%;
  }
  a div {
    width: 26.6666%;
  }
}