html{
  min-height: 100%;
}

body{
  background-size: 100% 100%;
}

.bannerContainer {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.banner {
  color: rgb(87,2,7);
  font-family: 'Snell Roundhand', cursive, serif;
  font-size: 33px;
  font-style: italic;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 50px;
  color:rgb(255,255,255);
}

h2 {
  font-size: 45px;
  color:rgb(255,255,0);
}

p {
  font-size: 65px;
  color: rgb(0, 255, 255);
  text-align: center;
}

ul {		/*the links for Creature pages*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(255, 85, 0);
}

ul.taskbar {				/*the .taskbar class is used for the elements that make up the taskbar*/
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(110,110,110);
  border: 1px solid rgb(0, 0, 0);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

li.taskbar {
  width: 33.333%;
  float: left;
  border-right: 1px solid rgb(210,210,210);
}

li a.taskbar {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.taskbar:hover {
  background-color: rgb(220,20,60);
}

.creatures li a{
  display: inline-flex;
  justify-content: space-between;
  
}

.images img{
  width: 300px;
  height: 320px;
}

.images{
  display: grid;
  margin: auto;
  width: 900px;
  height: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 10% 40% 10%;
}

.images p{
  width: 300px;
  height: 80px;
  font-size: 30px;
  color: rgb(0, 255, 255);
  text-align: center;
}

.images a{
  width: 300px;
  height: 400px;
}

a div{
  width: 300px;
  height: 320px;
  position: absolute;
  grid-area: 1 / 1 / span 1 / span 1;
}

div.dragon{
  background-image: url('../images/dragon1.png');
  background-size: cover;
  background-position-x: -100px;
}
div.demon{
  background-image: url('../images/Lilith.jpg');
  background-size: cover;
  background-position: center;
}
div.orc{
  background-image: url('../images/Orc.jpg');
  background-size: cover;
  background-position-x: -190px;
}
div.fairy{
  background-image: url('../images/Fairy.jpg');
  background-size: cover;
  background-position-y: -20px;
}
div.faun{
  background-image: url('../images/Faun.jpg');
  background-size: cover;
  background-position-y: -15px;
}
div.unicorn{
  background-image: url('../images/UNI.jpg');
  background-size: cover;
  background-position-x: -150px;
}
