@import 'common.css';
.centered {
  position: absolute;
  width: 49.5%;
  top: 13%;
  left: 25%;
  text-align: center;
}

@media only screen and (max-width: 763px) {
  .centered {
    font-size: smaller;
  }
}

.main {
  position: relative;
  text-align: center;
}

p {
  color: rgb(234, 226, 183);
  font-family: 'Andada Pro', serif;
}